<section class="standard-form scrollable">
    <fieldset>
        <legend>{{localize "LA.SETTINGS.deployable.group.display.label"}}</legend>
        <div class="form-group">
            <label>{{localize "LA.SETTINGS.deployable.enableTooltip.label"}}</label>
            <input type="checkbox" name="tip" {{checked tip}}>
            <p class="hint">{{localize "LA.SETTINGS.deployable.enableTooltip.subLabel"}}</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{localize "LA.SETTINGS.deployable.group.default.label"}}</legend>
        <div class="form-group">
            <label>{{localize "LA.SETTINGS.deployable.sheetWidth.label"}}</label>
            <input type="number" name="sheetWidth" value="{{sheetWidth}}"
                min="0" step="1" data-dtype="Number"
                style="max-width:12em"
            >
            <p class="hint">{{localize "LA.SETTINGS.deployable.sheetWidth.subLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "LA.SETTINGS.deployable.sheetHeight.label"}}</label>
            <input type="number" name="sheetHeight" value="{{sheetHeight}}"
                min="0" step="1" data-dtype="Number"
                style="max-width:12em"
            >
            <p class="hint">{{localize "LA.SETTINGS.deployable.sheetHeight.subLabel"}}</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{localize "LA.SETTINGS.deployable.group.actionLog.label"}}</legend>
        <div class="form-group">
            <label>{{localize "LA.SETTINGS.deployable.saveCollapse.label"}}</label>
            <input type="checkbox" name="saveCollapse" {{checked saveCollapse}}>
            <p class="hint">{{localize "LA.SETTINGS.deployable.saveCollapse.subLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "LA.SETTINGS.deployable.startCollapsed.label"}}</label>
            <input type="checkbox" name="startCollapsed" {{checked startCollapsed}}>
            <p class="hint">{{localize "LA.SETTINGS.deployable.startCollapsed.subLabel"}}</p>
        </div>
    </fieldset>
    {{#if isGM}}
    <fieldset>
        <legend>{{localize "LA.SETTINGS.deployable.group.reset.label"}}</legend>
        <div class="form-group">
            <label>{{localize "LA.SETTINGS.deployable.resetServerData.label"}}</label>
            <button type="button" data-action="resetServerData">
                <i class="fas fa-rotate-left"></i>
                {{localize "LA.SETTINGS.deployable.resetServerData.button"}}
            </button>
            <p class="hint">{{localize "LA.SETTINGS.deployable.resetServerData.subLabel"}}</p>
        </div>
    </fieldset>
    {{/if}}
</section>
