{{!-- cssClass - array of CSS classes made from the defaultOptions method --}}
<form class="la-mech {{cssClass}} la-root flexcol {{getTheme}}" autocomplete="off">
    {{!-- Header --}}
    <header 
        class="la-header la-bg-scroll -flex0
            sheet-header">
        <div class="la-combine-h">
            <div class="la-names las-combine-v">
                <input 
                    class="la-mechname__input la-text-header -upper
                        charname"
                    name="name" type="text" value="{{actor.name}}" 
                    placeholder="{{localize " LA.namePlaceholder"}}" />
                <hr class="la-divider-h -large -spacemedium la-bckg-header">
                <span class="la-pilotname__span -upper la-text-header ref set pilot click-open"
                    data-uuid="{{pilot.uuid}}" data-path="system.pilot"
                    data-accept-types="pilot">{{pilot.system.callsign}} </span>
                <span class="la-pilotlevel__span -upper la-text-header">LL{{pilot.system.level}}</span>
            </div>
            <img class="la-mechhead__img" src="{{actor.img}}" alt="{{localize " LA.imgPlaceholder"}}">
        </div>
        {{!-- Navigation --}}
        <div class="la-island">
            <nav class="la-tabs la-bckg-pilot clipped-alt" data-group="primary">
                <a class="la-tab clipped-bot-alt la-text-bright-text -fontsize2" data-tab="status" data-text="{{localize "
                    LA.tab.status.label"}}">
                    {{localize "LA.tab.status.label"}}
                </a>
                <a class="la-tab clipped-bot-alt la-text-bright-text -fontsize2" data-tab="loadout" data-text="{{localize "
                    LA.tab.loadout.label"}}">
                    {{localize "LA.tab.loadout.label"}}
                </a>
            </nav>
        </div>
    </header>
    {{!-- Body --}}
    <div class="la-body la-combine-h la-bckg-background">
        {{!-- Sidebar --}}
        <section class="la-sidebar la-bg-scroll la-shadow -soft -inset LA_SCROLL_SIDEBAR">
            {{!-- Frame Name --}}
            <div class="la-framename">
                <div class="la-flow la-bckg-primary la-text-header clipped-bot-alt" data-uuid="{{getFrameUUID "
                    system.loadout.frame.value"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    {{getFrameManufacturer "system.loadout.frame.value"}} {{getFrameName "system.loadout.frame.value"}}
                    <span class="la-extension la-text-header -lower -fadein">--{{localize "LA.scan.label"}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </div>
            </div>
            {{!-- Mech Image --}}
            <div class="la-mech">
                <div class="la-combine-v ">
                    {{#if (eq system.size 0.5)}}
                    <i class="cci cci-size-half la-text-primary la-outl-background"></i>
                    {{else}}
                    <i class="cci cci-size-{{system.size}} la-text-primary la-outl-background"></i>
                    {{/if}}
                    <div class="la-combine-h">
                        <i class="mdi mdi-arrow-right-bold-hexagon-outline la-text-primary la-outl-background"></i>
                        <span class="la-text-primary la-outl-background">{{system.speed}}</span>
                    </div>
                </div>
                <img class="las-mech__img" 
                    src="{{actor.img}}" data-edit="img" data-uuid="{{actor.uuid}}"
                    alt="{{localize " LA.imgPlaceholder"}}">
            </div>
            {{!-- Mech Stats 1 --}}
            <div class="la-stats">
                <div class="la-combine-h">
                    {{!-- the mdi shield is a bit larger than the cci icons --}}
                    <i class="mdi mdi-shield-half-full" style="font-size: 0.75em"></i>
                    <div class="la-combine-v -divider">
                        <span>{{system.armor}}</span>
                        <span>{{localize "LA.armor.short"}}</span>
                    </div>
                </div>
                <div class="la-combine-h">
                    <i class="cci cci-evasion"></i>
                    <div class="la-combine-v -divider">
                        <span>{{system.evasion}}</span>
                        <span>{{localize "LA.evasion.short"}}</span>
                    </div>
                </div>
                <div class="la-combine-h">
                    <i class="cci cci-edef"></i>
                    <div class="la-combine-v -divider">
                        <span>{{system.edef}}</span>
                        <span>{{localize "LA.edefense.short"}}</span>
                    </div>
                </div>
            </div>
            {{!-- Mech Bars --}}
            <div class="la-damage">
                <div class="la-combine-h">
                    <div class="la-visuals">
                        {{!-- HP, SHIELD (BAR) --}}
                        <div class="la-combine-h -fontsize1">
                            <span class="la-damage__span">{{localize "LA.hitpoint.short"}}</span>
                            <div class="la-bar-h clipped la-bckg-bar-back -flex1">
                                <div class="la-bar-h-progress la-combine-h">
                                    <input class="la-bar-h-progress__input -flex1"
                                        type="number" name="system.hp.value"
                                        data-dtype="Number" value="{{system.hp.value}}">
                                    <span class="la-bar-h-progress__span -flex0">/</span>
                                    <span class="la-bar-h-progress__span -flex1">{{system.hp.max}}</span>
                                </div>
                                <div class="la-bar-h-progress la-bar-h-current la-bckg-bar-health"
                                    style="--percent:{{percent system.hp.value system.hp.max}}%"></div>
                                <div class="la-tempvalue -shield la-bar-h-progress la-bar-h-current la-bckg-bar-shield"
                                    style="--percent:{{percent system.overshield.value system.hp.max}}%"></div>
                            </div>
                        </div>
                        <div class="la-spacer -tiny"></div>
                        {{!-- STRUCTURE --}}
                        <div class="la-combine-h -fontsize1">
                            <span class="la-damage__span">{{localize "LA.structure.label"}}</span>
                            <div class="la-bar-h clipped-alt la-bckg-bar-back -flex1">
                                <div class="la-bar-h-progress la-combine-h">
                                    <input class="la-bar-h-progress__input -flex1" 
                                        type="number" name="system.structure.value" 
                                        data-dtype="Number" value="{{system.structure.value}}">
                                    <span class="la-bar-h-progress__span -flex0">/</span>
                                    <span class="la-bar-h-progress__span -flex1">{{system.structure.max}}</span>
                                </div>
                                <div class="la-bar-h-progress la-bar-h-current la-bckg-bar-structure"
                                    style="--percent:{{percent system.structure.value system.structure.max}}%"></div>
                            </div>
                        </div>
                    </div>
                    {{!-- SHIELD (VALUE) --}}
                    <div class="la-combine-v -divider -shield">
                        <input class="la-damage__input" type="number" name="system.overshield.value" data-dtype="Number"
                            value="{{system.overshield.value}}">
                        <span class="la-damage__span">{{localize "LA.overshield.short"}}</span>
                    </div>
                </div>

                <div class="la-spacer -large"></div>

                <div class="la-combine-h">
                    <div class="la-visuals">
                        {{!-- HEAT --}}
                        <div class="la-combine-h -fontsize1">
                            <span class="la-damage__span">{{localize "LA.heat.label"}}</span>
                            <div class="la-bar-h clipped la-bckg-bar-back -flex1">
                                <div class="la-bar-h-progress la-combine-h">
                                    <input class="la-bar-h-progress__input -flex1" 
                                        type="number" name="system.heat.value" 
                                        data-dtype="Number" value="{{system.heat.value}}">
                                    <span class="la-bar-h-progress__span -flex0">/</span>
                                    <span class="la-bar-h-progress__span -flex1">{{system.heat.max}}</span>
                                </div>
                                <div class="la-bar-h-progress la-bar-h-current la-bckg-bar-heat"
                                    style="--percent:{{percent system.heat.value system.heat.max}}%"></div>
                                <div class="la-tempvalue -burn la-bar-h-progress la-bar-h-current la-bckg-bar-burn"
                                    style="--percent:{{percent system.burn system.heat.max}}%"></div>
                            </div>
                        </div>
                        <div class="la-spacer -tiny"></div>
                        {{!-- STRESS, BURN (BAR) --}}
                        <div class="la-combine-h -fontsize1">
                            <span class="la-damage__span">{{localize "LA.stress.label"}}</span>
                            <div class="la-bar-h clipped-alt la-bckg-bar-back -flex1">
                                <div class="la-bar-h-progress la-combine-h">
                                    <input class="la-bar-h-progress__input -flex1" 
                                        type="number" name="system.stress.value" 
                                        data-dtype="Number" value="{{system.stress.value}}">
                                    <span class="la-bar-h-progress__span -flex0">/</span>
                                    <span class="la-bar-h-progress__span -flex1">{{system.stress.max}}</span>
                                </div>
                                <div class="la-bar-h-progress la-bar-h-current la-bckg-bar-stress"
                                    style="--percent:{{percent system.stress.value system.stress.max}}%"></div>
                            </div>
                        </div>
                    </div>
                    {{!-- BURN (VALUE) --}}
                    <div class="la-combine-v -divider -burn">
                        <input class="la-damage__input" type="number" name="system.burn" data-dtype="Number"
                            value="{{system.burn}}">
                        <span class="la-damage__span">{{localize "LA.burn.short"}}</span>
                    </div>
                </div>
            </div>
            {{!-- Mech Stats 2 --}}
            <div class="la-stats">
                <div class="la-combine-h">
                    <i class="cci cci-tech-full"></i>
                    <div class="la-combine-v -divider">
                        <span>{{system.tech_attack}}</span>
                        <span>{{localize "LA.tattack.short"}}</span>
                    </div>
                </div>
                <div class="la-combine-h">
                    <i class="cci cci-save"></i>
                    <div class="la-combine-v -divider">
                        <span>{{system.save}}</span>
                        <span>{{localize "LA.save.short"}}</span>
                    </div>
                </div>
                <div class="la-combine-h">
                    <i class="cci cci-sensor"></i>
                    <div class="la-combine-v -divider">
                        <span>{{system.sensor_range}}</span>
                        <span>{{localize "LA.sensor.short"}}</span>
                    </div>
                </div>
            </div>
            {{!-- Macros/Flows --}}
            <div class="la-spacer -large"></div>
            <div class="la-macroflows la-combine-v">
                <button type="button"
                    class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                        lancer-flow-button"
                    data-flow-type="Stabilize" data-flow-args="{}"
                    data-tooltip="{{localize "LA.flow.stabilize.tooltip"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    <span>{{localize "LA.flow.stabilize.label"}}</span><span
                        class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </button>
                <button type="button"
                    class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                        lancer-flow-button"
                    data-uuid="{{actor.uuid}}" data-flow-type="Overcharge" data-flow-args="{}"
                    data-tooltip="{{localize "LA.flow.overcharge.tooltip"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    <span>{{localize "LA.flow.overcharge.label"}}</span><span
                        class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </button>
                <button type="button"
                    class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                        roll-stat"
                    data-uuid="{{actor.uuid}}" data-path="system.grit" data-flow-args=""
                    data-tooltip="{{localize "LA.grit.tooltip"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    <span>{{localize "LA.grit.label"}}</span><span
                        class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </button>
                <button type="button"
                    class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                        lancer-flow-button"
                    data-uuid="{{actor.uuid}}" data-flow-type="BasicAttack" data-flow-args="{}"
                    data-tooltip="{{localize "LA.flow.rollAttack.tooltip"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    <span>{{localize "LA.flow.rollAttack.label"}}</span><span
                        class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </button>
                <button type="button"
                    class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                        lancer-flow-button"
                    data-uuid="{{actor.uuid}}" data-flow-type="Damage" data-flow-args="{}"
                    data-tooltip="{{localize "LA.flow.rollDamage.tooltip"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    <span>{{localize "LA.flow.rollDamage.label"}}</span><span
                        class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </button>
                <button type="button"
                    class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                        lancer-flow-button"
                    data-uuid="{{actor.uuid}}" data-flow-type="TechAttack" data-flow-args="{}"
                    data-tooltip="{{localize "LA.flow.rollTechAttack.tooltip"}}">
                    <span class="la-terminal la-text-header -fadein">>//: </span>
                    <span>{{localize "LA.flow.rollTechAttack.label"}}</span><span
                        class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                        class="la-cursor la-anim-header -fadein" />
                </button>
            </div>
        </section>
        {{!-- Main Content --}}
        <div class="la-ruler"></div>
        <section class="la-content sheet-body LA_SCROLL_BODY">
            {{!-- HASE Stats --}}
            <div class="la-hase">
                <div class="la-attribute la-text-secondary -grit
                        mdi mdi-hexagon">
                    <div class="la-combine-v -divider la-text-header -grit">
                        <span class="la-label__span">
                            {{localize "LA.grit.short"}}
                        </span>
                        <button type="button" class="la-value__span roll-stat" data-uuid="{{actor.uuid}}"
                            data-path="system.grit" data-flow-args=""
                            data-tooltip="{{localize "LA.grit.tooltip"}}">
                            {{#gt system.grit 0}}
                            <span class="la-plus__span">+</span>{{system.grit}}
                            {{else}}
                            {{system.grit}}
                            {{/gt}}
                        </button>
                    </div>
                </div>
                <div class="la-attribute la-text-secondary -hull 
                        mdi mdi-hexagon">
                    <div class="la-combine-v -divider -hull la-text-header">
                        <span class="la-label__span">
                            {{localize "LA.hull.short"}}
                        </span>
                        <button type="button" 
                            class="la-value__span roll-stat hase" 
                            data-uuid="{{actor.uuid}}" data-path="system.hull" 
                            data-flow-args="" data-tooltip="{{localize "LA.hull.tooltip"}}">
                            {{system.hull}}
                        </button>
                    </div>
                </div>
                <div class="la-attribute la-text-secondary -agility
                        mdi mdi-hexagon">
                    <div class="la-combine-v -divider -agility la-text-header">
                        <span class="la-label__span">
                            {{localize "LA.agility.short"}}
                        </span>
                        <button type="button" 
                            class="la-value__span roll-stat hase" 
                            data-uuid="{{actor.uuid}}" data-path="system.agi" 
                            data-flow-args="" data-tooltip="{{localize "LA.agility.tooltip"}}">
                            {{system.agi}}
                        </button>
                    </div>
                </div>
                <div class="la-attribute la-text-secondary -systems 
                        mdi mdi-hexagon">
                    <div class="la-combine-v -divider -systems la-text-header">
                        <span class="la-label__span">
                            {{localize "LA.systems.short"}}
                        </span>
                        <button type="button" class="la-value__span roll-stat hase" data-uuid="{{actor.uuid}}"
                            data-path="system.sys" data-flow-args=""
                            data-tooltip="{{localize "LA.systems.tooltip"}}">
                            {{system.sys}}
                        </button>
                    </div>
                </div>
                <div class="la-attribute la-text-secondary -engineering 
                        mdi mdi-hexagon">
                    <div class="la-combine-v -divider -engineering la-text-header">
                        <span class="la-label__span">
                            {{localize "LA.engineering.short"}}
                        </span>
                        <button type="button" class="la-value__span roll-stat hase" data-uuid="{{actor.uuid}}"
                            data-path="system.eng" data-flow-args=""
                            data-tooltip="{{localize "LA.engineering.tooltip"}}">
                            {{system.eng}}
                        </button>
                    </div>
                </div>
            </div>
            {{!-- Status Tab --}}
            <div 
                class="la-status la-tab -fontsize2
                    tab" 
                data-group="primary" data-tab="status">
                <div class="la-status__list la-combine-v -fullwidth">
                    {{!-- Active Effects --}}
                    <h1 class="la-subcontent la-bckg-primary la-text-header clipped-top -fontsize2">
                        <span class="la-terminal la-text-header -fadein">>//: </span>{{localize
                        "LA.tab.status.effects.label"}} <span class="la-extension la-text-header -lower -fadein">--{{localize
                            "LA.scan.label"}}</span><span class="la-cursor la-anim-header -fadein"></span>
                    </h1>
                    <div class="la-effects__list la-combine-v la-bckg-card clipped-bot-alt">
                        {{{renderActiveEffects actor effects}}}
                    </div>
                {{!-- Integrity --}}
                    {{!-- Structure Header --}}
                    <h1 class="la-subcontent la-bckg-primary la-text-header clipped-top -fontsize2">
                        <span class="la-terminal la-text-header -fadein">>//: </span>{{localize
                        "LA.tab.status.structure.label"}} <span
                            class="la-extension la-text-header -lower -fadein">--{{localize "LA.scan.label"}}</span><span
                            class="la-cursor la-anim-header -fadein"></span>
                    </h1>
                    {{!-- Structure --}}
                    <div class="la-structure la-combine-h la-bckg-card">
                        <div class="la-combine-h">
                            <i class="cci cci-structure"></i>
                            <span class="la-label__span -fontsize1">{{localize "LA.structure.label"}}</span>
                            <div class="la-combine-v -divider">
                                {{!-- There exists a bug where when more than one input for a certain name exists it no longer returns a number (likely an array) --}}
                                <span class="la-top__span">{{system.structure.value}}</span>
                                <span class="la-bottom__span -narrow">{{system.structure.max}}</span>
                            </div>
                        </div>
                        <div class="la-combine-v">
                            <button type="button"
                                class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                                    lancer-flow-button"
                                data-flow-type="Structure" data-flow-args="{}"
                                data-tooltip="{{localize "LA.flow.structureDamage.tooltip"}}">
                                <span class="la-terminal la-text-header -fadein">>//: </span>
                                <span>{{localize "LA.flow.structureDamage.label"}}</span><span
                                    class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                                    class="la-cursor la-anim-header -fadein" />
                            </button>
                        </div>
                    </div>
                    {{!-- Repair --}}
                    <div class="la-structure la-combine-h la-bckg-card clipped-bot-alt">
                        <div class="la-combine-h">
                            <i class="cci cci-repair"></i>
                            <span class="la-label__span -fontsize1">{{localize "LA.flow.repair.label"}}</span>
                            <div class="la-combine-v -divider">
                                <input class="la-top__input" type="number" name="system.repairs.value"
                                    data-dtype="Number" value={{system.repairs.value}} />
                                <span class="la-bottom__span">{{system.repairs.max}}</span>
                            </div>
                        </div>
                        <div class="la-combine-v">
                            <button type="button"
                                class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                                    lancer-flow-button"
                                data-flow-type="FullRepair.label" data-flow-args="{}"
                                data-tooltip="{{localize "LA.flow.fullRepair.tooltip"}}">
                                <span class="la-terminal la-text-header -fadein">>//: </span>
                                <span>{{localize "LA.flow.fullRepair.label"}}</span><span
                                    class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                                    class="la-cursor la-anim-header -fadein" />
                            </button>
                            {{!-- TODO: make a flow for partial repair --}}
                            {{!-- <button type="button"
                                class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                                    lancer-flow-button"
                                data-flow-type="FullRepair.label" data-flow-args="{}"
                                data-tooltip="{{localize "LA.flow.repair.tooltip"}}">
                                <span class="la-terminal la-text-header -fadein">>//: </span>
                                <span>{{localize "LA.flow.repair.label"}}</span><span
                                    class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                                    class="la-cursor la-anim-header -fadein" />
                            </button> --}}
                        </div>
                    </div>
                    {{!-- Reactor Header --}}
                    <h1 class="la-subcontent la-bckg-primary la-text-header clipped-top -fontsize2">
                        <span class="la-terminal la-text-header -fadein">>//: </span>{{localize
                        "LA.tab.status.reactor.label"}} <span class="la-extension la-text-header -lower -fadein">--{{localize
                            "LA.scan.label"}}</span><span class="la-cursor la-anim-header -fadein"></span>
                    </h1>
                    {{!-- Stress --}}
                    <div class="la-structure la-combine-h la-bckg-card">
                        <div class="la-combine-h">
                            <i class="cci cci-reactor"></i>
                            <span class="la-label__span -fontsize1">{{localize "LA.stress.label"}}</span>
                            <div class="la-combine-v -divider">
                                {{!-- There exists a bug where when more than one input for a certain name exists it no longer returns a number (likely an array) --}}
                                <span class="la-top__span">{{system.stress.value}}</span>
                                <span class="la-bottom__span -narrow">{{system.stress.max}}</span>
                            </div>
                        </div>
                        <div class="la-combine-v">
                            <button type="button"
                                class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                                    lancer-flow-button"
                                data-flow-type="Overheat" data-flow-args="{}"
                                data-tooltip="{{localize "LA.flow.reactorStress.tooltip"}}">
                                <span class="la-terminal la-text-header -fadein">>//: </span>
                                <span>{{localize "LA.flow.reactorStress.label"}}</span><span
                                    class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                                    class="la-cursor la-anim-header -fadein" />
                            </button>
                        </div>
                    </div>
                    {{!-- Overcharge --}}
                    <div class="la-structure la-combine-h la-bckg-card">
                        <div class="la-combine-h">
                            <i class="mdi mdi-lightning-bolt"></i>
                            <div class="la-combine-v -divider">
                                {{!-- There exists a bug where when more than one input for a certain name exists it no longer returns a number (likely an array) --}}
                                <span class="la-top__span">{{overchargeStage actor "system.overcharge"}}</span>
                                <span class="la-bottom__span -fontsize1">{{localize "LA.flow.overcharge.label"}}</span>
                            </div>
                        </div>
                        <div class="la-combine-v">
                            <button type="button"
                                class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt
                                    overcharge-reset"
                                data-tooltip="{{localize "LA.flow.overchargeReset.tooltip"}}">
                                <span class="la-terminal la-text-header -fadein">>//: </span>
                                <span>{{localize "LA.flow.overchargeReset.label"}}</span><span
                                    class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                                    class="la-cursor la-anim-header -fadein" />
                            </button>
                        </div>
                    </div>
                    {{!-- Burn --}}
                    <div class="la-structure la-combine-h la-bckg-card clipped-bot-alt">
                        <div class="la-combine-h">
                            <i class="cci cci-burn"></i>
                            <span class="la-label__span -fontsize1">{{localize "LA.burn.label"}}</span>
                            {{!-- There exists a bug where when more than one input for a certain name exists it no longer returns a number (likely an array) --}}
                            <span class="la-value__span">{{system.burn}}</span>
                        </div>
                        <div class="la-combine-v">
                            <button type="button"
                                class="la-flow la-button la-bckg-secondary la-text-header clipped-bot-alt 
                                    lancer-flow-button"
                                data-uuid="{{actor.uuid}}" data-flow-type="Burn"
                                data-tooltip="{{localize "LA.flow.extinguish.tooltip"}}">
                                <span class="la-terminal la-text-header -fadein">>//: </span>
                                <span>{{localize "LA.flow.extinguish.label"}}</span><span
                                    class="la-extension la-text-header -lower -fadein">{{randomExtension}}</span><span
                                    class="la-cursor la-anim-header -fadein" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Loadout Tab --}}
            <div class="la-loadout la-tab tab -fontsize2" data-group="primary" data-tab="loadout">
                {{!-- Category --}}
                <div class="la-mount__list la-combine-v -fullwidth">
                    {{{renderMechFrame "system.loadout" system.core_energy}}}
                    {{{renderWeaponMounts "system.loadout"}}}
                    {{{renderSystemMounts "system.loadout"}}}
                    {{#if system.pilot.value}}
                        {{{renderTalents "system.pilot.value.itemTypes.talent"}}}
                    {{/if}}
                </div>
            </div>
        </section>
        <div class="la-ruler"></div>
    </div>
</form>
