<form class="la-npc la-text-text {{cssClass}} la-root flexcol {{getTheme}} -heightfull" autocomplete="off">
    {{!-- Forward data to be ready for Svelte mounting --}}
    {{la_setDatastore @root}}
    <div class="la-bg-scroll-alt la-bckg-background la-combine-v -divider la-prmy-primary -heightfull">
        <div class="-widthfull">
            <div class="
                la-SVELTE-HEADER">
                {{!-- Svelte is injected in-place here --}}
            </div>
        </div>
        <!-- Navigation -->
        <div class="-positionrelative -widthfull la-dropshadow"
            style="z-index: 1;"
        >
            <div class="la-nav__island la-combine-h -justifystart -positionabsolute -left0 -top0"
            >
                <nav
                    class="la-tabs la-combine-h la-bckg-tabs clipped-bot" 
                    data-group="primary"
                >
                    <button
                        class="la-tab clipped-bot la-text-header -fontsize1 -padding0 -padding1-lr"
                        data-tab="loadout"
                    >
                        {{localize "LA.tab.loadout.label"}}
                    </button>
                    <button
                        class="la-tab clipped-bot la-text-header -fontsize1 -padding0 -padding1-lr"
                        data-tab="status"
                    >
                        {{localize "LA.tab.status.label"}}
                    </button>
                    <button
                        class="la-tab clipped-bot la-text-header -fontsize1 -padding0 -padding1-lr"
                        data-tab="activity"
                    >
                        {{localize "LA.tab.activity.label"}}
                    </button>
                </nav>
            </div>
        </div>
        <section
            class="la-content -flex1 -widthfull -padding6-t
                la-SCROLL_BODY"
            data-group="primary" 
        >
            <div 
                class="-widthfull
                    la-SVELTE-LOADOUT tab"
                data-tab="loadout"
            >
                {{!-- Svelte is injected in-place here --}}
            </div>
            <div class="-widthfull
                    la-SVELTE-STATUS tab"
                data-tab="status"
            >
                {{!-- Svelte is injected in-place here --}}
            </div>
            <div class="-widthfull
                    la-SVELTE-ACTIVITY tab"
                data-tab="activity"
            >
                {{!-- Svelte is injected in-place here --}}
            </div>
        </section>
    </div>
</form>